 :root{
    --azul: #3c72b4;
    --azulhover: #3666a1;
    --orange: #fd7e14;
 }


@import url(.bootstrap.min.css);
.main-menu{
    height:120px;
    width:100%;
    background:black
}
.header{
    background:black
}
.dropdown-menu.show{
    width:100px;
    padding:20px
}
.dropdown-item{
    margin: 5px;

}
.nav-login{
    background: var(--azul);
    border-radius: 5px;
}
.nav-login:hover{
    background: var(--azulhover)
}
.btn-search{
    color: white;
    background-color: var(--orange);
    border: white;
    width: 50px;
    margin-right: 20px;
    border-radius: 5px;
}
.nav-cart{
    color: white;
    background-color: var(--orange);
    border: white;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 5px;  
    width:40px;
    height:40px;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}
.nav-cart:hover{
    color: white;
}
.cart-item{
    background-color: #3666a1;
    
}

/*BANNER*/

  
/*BANNER*/
/*