 :root{
    --azul: #3c72b4;
    --azulhover: #3666a1;
    --orange: #fd7e14;
    --gradient: linear-gradient(
        135deg,
        #ec0800,
        #b95a1a,
        #c99a1a,
        #303323,
        #3e3f3f,
        #3e3f3f,
        #161616
    );
    --darkgradient:linear-gradient(
        45deg,
        #100214,
        #333333,
        #161415,
        #1e1e1e
    )
    
 }
@import url(./bootstrap.min.css);
@import url(./responsive.css);

body{
    background:var(--darkgradient)
}

.main-menu{
    height:120px;
    width:100%;
    background:black;
    z-index:15;

}
.header{
    background:black;
    z-index:15;
}
.dropdown-menu.show{
    width:100px;
    padding:20px
}
.dropdown-item{
    margin: 5px;

}
.nav-login{
    background: var(--azul);
    border-radius: 5px;
}
.nav-login:hover{
    background: var(--azulhover)
}
.btn-search{
    color: white;
    background-color: var(--orange);
    border: white;
    width: 50px;
    margin-right: 20px;
    border-radius: 5px;
}
.nav-cart{
    color: white;
    background-color: var(--orange);
    border: white;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 5px;  
    width:40px;
    height:40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}
.nav-cart:hover{
    color: white;
}
.cart-item{
    background-color: #3666a1;
    
}
.nav-item.dropdown{
    list-style: none;
}
/*HEADER*/
.navbar.fixed-top{
    z-index: 2;
    background:black
}
.container-navbar{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

}
.container-navbar-fluid input{
    
    height: 40px;
    padding-right:10px
}

@media screen and (max-width:600){
    .logo-mobile .navbar-brand img{
    display:none
    
    }
}

/*HEADER*/
/*BANNER*/
.banner{
    background:url(/img/banner.png) no-repeat;
}
.banner video{
    height:110%
}
  
/*BANNER*/

.carousel-inner .carousel-item .img-carousel{
    width:1110px

}

/*BOXES*/
.box-wrapper .container{
   margin-top: 3em;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-card{
    text-align: center;
    margin-bottom: 5em;
}
.box-text{
    border: 3px solid white;
    border-radius: 10px;
    color: rgb(231, 231, 231);
    text-align: center;
    padding-bottom: 1em;
}
.box-text:hover{
    background: black;
    transition: 0.2s;
}
.box-text h3{
    margin-top: 1em;
    
}
.box-text p{
    padding: 0 2em 0 2em;
}
.box-price{
font-size: 40px;
font-weight: bolder;
color: var(--orange);
}
.box-button{
    background-image: var(--gradient);
    background-size: 300%;
    background-position: right;
    padding:0.3em;
    font-weight: bolder;
    font-size: 25px;
    color: white;
    text-decoration: none; 
    border-radius: 10px; 
    transition: 0.5s; 
    font-family: 'Montserrat'; 

   
}
.box-button:hover{
    color: white;
    background-position: left;
}
/*BOXES*/


/*PRODUCTS*/
.products{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 7em;
}
.products .row{
    margin-bottom: 2em;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.products .row .product-card{
    width:270px;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(235, 235, 235) ;

}
.card-img-top{
    margin-top: 1.5em;
    height:80%;
    background-color: white;
    
}
img.card-img-top {
width:80%;
border-radius: 20px;
padding: 1em;
border:solid 5px rgb(216, 216, 216);
}

.card-title{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}
.product-title h3{
    color: white;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 1em;  
    font-family: 'Montserrat', sans-serif;
}

/*PRODUCTS*/
/*FOOTER*/
footer{
    color: #687077;
    background-color: #F8F9FA;
    padding-top: 2em;
}
footer .container{
    border-top: solid 0.5px #687077;
    padding: 1em 0 1em 0;
}
footer .footer-title h5 {
    text-decoration: none;
    color: var(--azul);
    font-weight: bolder;
    }
footer .footer-title a{
text-decoration: none;
color: #687077;
font-weight: 400;
}
footer .footer-title a:hover{
    text-decoration: underline;
}

.social li a{
    color: #687077;
    text-decoration: none;
    font-size: 16px;
    list-style: none;
}
.social li{
    list-style-type: none;
}
.social li:hover{
    text-decoration: underline;
}
footer .social h5 {
    text-decoration: none;
    color: var(--azul);
    font-weight: bolder;
    }
/*FOOTER*/